$base: #C8C8A9;
$primary: #FE4365;
body {
    background: $base;
    text-align: center;
}

svg {
    margin: 50px auto;
    width: 45%;
}

.logo {
    fill: $primary;
}

.clip {
    animation: slide 8s infinite;
}

@keyframes slide {
    from {
        transform: translateY(-135px);
    }
    50% {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(-135px);
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}